.logo{
	width: 20%;
}
/*margin and padding*/
.pd{
	padding: 4.5%;
}
.pd2{
	padding: 2%;
}
.ml{
	margin-left: 4%;
	width: 92%;
}
.uno{
	margin-top: 9%;
}

.pr{
	padding: 0% 2% 0% 2%;
}
.ml1{
	margin-left: 3%;
}
.mt{
	margin-top: 10%;
}
.mt2{
	margin-top: 15%;
}
.mt3{
	margin-top: 3%;
}
.mt4{
	margin-top: 5%;
}
.mt5{
	margin-top: 20%;
}
.mb{
	margin-bottom: 5%;
}
.mb2{
	margin-bottom: 10%;
}
.mb3{
	margin-bottom: 15%;
}
.pt{
	padding-top: 10%;
}
.pt2{
	padding-top: 20%;
}
.pb{
	padding-bottom: 25%;
}
.pb2{
	padding-bottom: 10%;
}
/*boton*/
button{
	background-color:  #240024;
	color: #ffffff !important;
	border: none;
}
button:hover{
	background-color: #E6E6E6;
}
/*text*/
.head{
	color: #ffffff !important;
}
/*especifico*/
nav{
	background-color: #240024 !important;
}
.img{
	height: 19em;
	width: 90%;
}
.img2{
	height: 18em;
}
/*background*/
.purple{
	background-color: #240024;
}
.gray{
	background-color: #E6E6E6;
	height: 100%;
}
.rot:hover{
-webkit-transform: rotateZ(360deg);
-webkit-transition: .8s;
}
.scal:hover{
-webkit-transform: scale(1.1);
-webkit-transition: .8s;
transform: scale(1.1);
}
.thumbnail{
	background-color:#240024 !important;
}

 